h1 {
	background: DarkTurquoise;
	border-bottom: 10px dotted crimson;
	color: crimson;
	font-family: arial;
	margin: 0px auto;
	padding: 20px;
	text-align: center;
	transform: all 0.5s ease-in;
	width: 640px;
}
h1:hover {
	border-bottom: 20px solid #9932CC;
	cursor: pointer;
	transform: scale(1.1);
}