body main section.content h2:after {
  background: linear-gradient(to right, #6DE584, #FFFFFF);
  display: block;
  position: absolute;
  height: 10px;
  width: 80%;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%) skew(-50deg);
  content: "";
}
body main section.content h2 {
  font-size: 2.4em;
  text-align: center;
  position: relative;
}
body main section.content h2:before {
  background: linear-gradient(to right, #2F720E, #FFFFFF);
  display: block;
  position: absolute;
  height: 10px;
  width: 80%;
  top: calc(-100% + 20px);
  left: 50%;
  transform: translateX(-50%) skew(-50deg);
  content: "";
}
