doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Comentario
	body
		//esto es un comentario visible ne html
		h1 comnetarios
		//-Este comentario solo es de pug  no es visible en html

		//- Esto es un comentario 
			multiples lineas de codigo
			y no es visible en html.

		//
			Esto es un comentario de 
			multiples lineas de codigo 
			y es visible ne html.

	