doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		title Condicionales
	body
		h1 Condicionales
		- var edad = 20
		if edad >= 18
			img(src="imgs/success.png")
			p usted puede votar!
		else 
			img(src="imgs/fail.png")
			p usted no puede votar!

	