//doctype transitional
//doctype strict
//doctype xml
doctype strict
html(lang="en")
	head
		meta(charset="UTF-8")
		title Tipos de Documentos
	body
		h1 Tipos de Documentos 
		hr
		img(src="imgs/success.png")
		br

	