doctype
html(lang="en")
	include includes/header.pug
	body
		h1 incluir PUG
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis qui harum suscipit. Voluptates saepe modi veniam cum laboriosam laborum repellendus facere, nihil 	impedit explicabo. Sit autem, vel mollitia aliquid adipisci.

		include includes/footer.pug
	