DOCTYPE 
html(lang="en")
	head
		meta(charset="UTF-8")
		title reutilixable (mixin)
	body
		h1 reulixzalenle (mixin)
		mixin serie(name, cap)
			li= name+` (`+cap+`)`
		+serie(`shingeki no kyiogin`, 60)
		+serie(`kimetsu no yaiba`, 16)

